.main-text-box-two-col {
    margin: 2em 15%;
    border-radius: 25px;
    background-color: #ffc7ce;
    padding: 5px 5px 5px 20px;
    height: 250px;
    display: grid;
    grid-template-columns: 0.55fr 0.25fr;
}

.main-text-box {
    margin: 2em 15%;
    border-radius: 25px;
    background-color: #ffc5cd;
    padding: 5px 5px 25px 25px;
    height: 250px;
    display: grid;
    grid-template-columns: 0.75fr 300px;
}

h4 {
    margin-block-start: 0.66em;
    margin-block-end: 0.66em;
    margin-left: 0.1em;
    font-size: 20px;
    font-family: "Source Sans 3", sans-serif;
}

p {
    margin-block-start: 0.66em;
    margin-block-end: 0.66em;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    font-size: 18px;
    font-family: "Source Sans 3", sans-serif;
}

p.text-with-image {
    /* margin-block-start: inherit;
    margin-block-end: inherit;
    font-size: inherit;
    font-family: inherit; */
    margin-block-start: 0.66em;
    margin-block-end: 0.66em;
    font-size: 18px;
    font-family: "Source Sans 3", sans-serif;

}

/* #list-summary p {
    font-size: inherit;
    font-family: inherit;
} */

a:link, a:visited {
    color: #0000ff;
}

#styled-name {
    font-size:xx-large;
}